html{
    background-color: rgb(217, 217, 217);
}
body{
    max-width: 1536px !important;
}

// Navbar

.navbar{
    background-color: rgb(217, 217, 217) !important;
    
    .nav-item{
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        button{
        background-color: rgb(217, 217, 217);
        
        font-size: small;
        margin-top: 10px;
        border: 0;
        border-radius: 10px;
        transition: 0.1s ease-out;
        a{
            color: black !important;
            text-decoration: none;
        }
        }

        a:hover{
            font-weight: 600; 
            color: rgb(84, 0, 0);
            transition: 0.1s ease-in;
        }

        .Number{
            font-family: 'Montserrat', sans-serif;
            margin-top: 10px;
        }
    }

    

    .navbar-brand{
        padding-left: 368px;
    }

    .Bookonline{
        padding-left: 428px;
        font-weight: 600;
        

        button{
            color: black !important;
            transition: 0.1s ease-out;
            border: 0;
            border-radius: 10px;
            background-color: rgb(217, 217, 217);
            a:hover{
                background-color: rgb(0, 0, 0);
            color: white !important;
            transition: 0.3s ease-in;

            }
        }

        button:hover{
            background-color: rgb(0, 0, 0);
            color: white !important;
            transition: 0.3s ease-in;
        }
    }

    

    .Number{
        padding-left: 8px;
        font-weight: 600;
        color: black;
    }
}

// Footer

footer{
    background-color: rgb(39, 37, 43) !important;
    height: 300px;
    display: flex;
    width: 100%;
    
    .Logowhite{
        padding-top: 20px;
        height: 80px;
        padding-left: 50px;
        color: white;
        display: inline;

    }

    .para{
        color: white;
        font-family: 'Montserrat', sans-serif;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 13px;
        margin-left: 5px;
        margin-top: 3px;
    }

    .socialmedia{
        height: 23px;
        padding-left: 38px;
        color: white;
    }

    .number1{
        color: white;
        font-family: 'Montserrat', sans-serif;
        padding-left: 40px;
        padding-top: 18px;
        font-weight: bold;

    }

    .section1{
        padding-left: 40px;
        margin-left: 35px;
    }

    .section2{
        color: white;
        margin-top: 40px;
        margin-left: 190px;
        font-family: 'Montserrat', sans-serif;

        .timings1{
            font-size: 13px;
            margin-top: 30px;
            font-variant: small-caps;
            font-weight: 500;
        }


    }

    .section3{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-variant: small-caps;
        margin-left: 200px;
        font-size: 22px;
        margin-top: 41px;
        padding-bottom: 10px;
        font-weight: lighter;
    }

    .section4{
        margin-top: 130px;
        margin-left: 150px;
        
        img{
            height: 24px;
        }
    }
}

// Body - stylist

.stylist{
    background-color: rgb(217, 217, 217);
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    padding-top: 20px;
    
    h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-variant: small-caps;
        font-weight: 600;
        padding: 20px;

    }

    .stylist1{
        font-family: 'Montserrat', sans-serif;
        font-variant: small-caps;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .marin{
            text-align: center;
            
            p{
                font-variant: normal;
                
            }

            h3{
                padding: 10px;
            }
        }

       
    }

    .marin1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-variant: small-caps;

        h3{
            padding: 10px;
        }

        p{
            font-variant: normal;
            
        }
    }
}

// Body - Testimonials

.testimonials{
    background-color:  rgb(217, 217, 217);
    display: flex;

    .image1{
        text-align: center;
        img{
            height: 260px;
        }
    }

    .image2{
        text-align: center;
        margin-top: 30px;
        img{
            height: 1000px;
        }
    }
}

// Body - about me

.aboutme{
    background-color:  rgb(217, 217, 217);
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;

    .para1{
        padding-left: 400px;
        text-align: center;
        padding-right: 400px;
        padding-top: 20px;

        p{
            font-variant: normal;
        }
    }

    .para2{
        display: flex;
        justify-content: space-evenly;
        padding-left: 100px;
        padding-right: 200px;
        margin-top: 50px;
        margin-bottom: 50px ;
        
        .item1{
            padding-right: 50px;
            padding-left: 50px;
        }

        .item2{
            padding-left: 30px;
            text-align: center;

            .form1{
                padding: 30px;
                

                .bar{
                    padding: 10px;
                }

                button{
                    width: 100px;
                    margin-left: 190px;
                
                }
            }
        }

        
    }

}

//Body - Home

.box1{
    background-color:  rgb(217, 217, 217);
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    
   

    .content1{
        display: flex;
        justify-content: space-evenly;
        margin-left: -20px;

        .boxes1{
            margin-top: 230px;
            margin-left: 100px;
            padding-left: 100px;
            // margin-left: -00px;
            .imagebeautyful{
                img{
                    height: 75px;
                    transition: 0.1s ease-out;
                }

                img:hover{
                    height: 80px;
                    transition: 0.2s ease-in;
                }
            }
            .parah1{
                font-weight: 600;
            }
            .imagebooknow{
                .animatedbutton{
                    margin-left: -140px;
                    margin-top: 20px;
                    text-align: center;
                }
                button{
                    transform: translate(-50%,-50%);
                    color: black;
                    padding: 2px 10px;
                    font-size: 17px;
                    font-family: 'Montserrat', sans-serif;
                    text-decoration: none;
                    font-variant: small-caps;
                    overflow: hidden;
                    border: 0px;
                    background-color: rgb(217, 217, 217);
                    transition: 0.1s ease-out;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }

                button:hover{
                    font-size: 18px;
                    transition: 0.2s ease-in;
                }
                
            
                button span:nth-child(1){
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: 2px;
                    background:rgba(0, 0, 0, 0.905) ;
            
                    animation: animate1 2s linear infinite;
                    animation-delay: 1s;
                }
            
                @keyframes animate1{
                    0%
                    {
                        transform: translateX(-100%);
                    }
                    100%
                    {
                        transform: translateX(100%);
                    }
                }
            
                button span:nth-child(2){
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 90%;
                    background:rgba(0, 0, 0, 0.889) ;
            
                    animation: animate2 2s linear infinite;
                }
                @keyframes animate2{
                    0%
                    {
                        transform: translateY(100%);
                        
                    }
                    100%
                    {
                        transform: translateY(-100%);
                
                    }
                }
                button span:nth-child(3){
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 80%;
                    height: 2px;
                    background:rgba(0, 0, 0, 0.905) ;
            
                    animation: animate3 2s linear infinite;
                    animation-delay: 1s;
                }
            
                @keyframes animate3{
                    0%
                    {
                        transform: translateX(100%);
                    }
                    100%
                    {
                        transform: translateX(-100%);
                    }
                }
                button span:nth-child(4){
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 2px;
                    height: 80%;
                    background:rgba(0, 0, 0, 0.889) ;
                    animation: animate4 2s linear infinite;
            
                }
                @keyframes animate4{
                    0%
                    {
                        transform: translateY(-100%);
                        
                    }
                    100%
                    {
                        transform: translateY(100%);
                
                    }
                }
            }
        }

        .boxes2{
            // margin-left: 180px;
            background-image: url(../IMAGES/pexels-photo-3993320.png);
            background-repeat: no-repeat;
            background-position: 0px -150px;
            background-size: cover;
            // border: 10px solid black;
            border-radius: 20px;
            margin-left: 150px;

            

            .null{
                height: 630px;
                width: 700px;
                border-radius: 20px;
                transition: 0.2s ease-out;
                
                
            }

            .null:hover{
                width: 800px;
                transition: 0.3s ease-in;
            }
        }
    }

    .featured{
        text-align: center;
        margin-bottom: 30px;
        
        .featuredin{
            margin-top: 30px;
            img{
                height: 120px;
                justify-content: space-evenly;
            }
            h3{
                opacity: 80%;
            }
        }
    }

    .reviews{
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
        .review1{
            img{
                height: 100px;
            }
        }
    }

    .viewmorebutton{
        text-align: right;
        margin-right: 307px;
        margin-top: -6px;
        button{
            border: 0px;
        background-color: rgb(217, 217, 217);
        font-size: 12px;
        opacity: 50%;

        }

        button:hover{
            text-decoration: underline;
        }
    }

    .stylisthome{
        display: flex;
        margin-top: 30px;
        justify-content: space-evenly;

        .stylist1{
            margin-left: 225px;
            img{
                height: 650px;
            }
        }

        .stylist2{
            text-align: left;
            align-items: start;
            margin-left: 60px;
            margin-top: 40px;
            margin-right: 300px;
            font-size: 14px;
            span{
                font-weight: 600;
            }
            img{
                height: 50px;
                margin-bottom: 10px;
            }
            .viewmorebutton1{
                
                margin-right: 250px;
                margin-top: -6px;
                button{
                    border: 0px;
                background-color: rgb(217, 217, 217);
                font-size: 12px;
                opacity: 50%;
        
                }
        
                button:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .serviceshome{
        .services1{
            text-align: center;
            margin: 60px;
            img{
                height: 60px
            }
        }

        .services2{
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            margin-left: 200px;
            margin-right: 200px;
            flex-wrap: wrap;
            gap: 1em;
            .blue {
                background-color: rgba(171, 235, 255, 0.689);
            }

            .green{
                background-color: rgb(187, 206, 171);
            }

            .red{
                background-color: rgb(206, 171, 171);
            }

            .purple{
                background-color: rgb(201, 171, 206);
            }
            .boxservices1{
                margin-left: 8px;
                img{
                    margin-left: -0.62vh;
                    margin-right: -0.62vh;
                    height: 250px;
                    transition: 0.1s ease-out;
                }
                h3{
                    margin: -10px;
                }

                //  
                border-radius: 24px;

                p{
                    font-size: 10px;
                    font-variant: normal;
                }
            }

            .boxservices1:hover{
                img{
                    height: 300px;
                    transition: 0.4s ease-in;
                }
            }

            .boxservices1:hover::after{
                img{
                    height: 250px;
                }
            }
        }
    }

    .instagram{
        text-align: center;
        margin: 100px;
        margin-left: 120px;
        h4{
            font-family: 'Noto Serif', serif;
        }
        .animatedbutton1{
            margin-left: 100px;
            margin-top: 30px;
            text-align: center;
        }
        button{
            transform: translate(-50%,-50%);
            color: black;
            padding: 2px 10px;
            font-size: 17px;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            font-variant: small-caps;
            overflow: hidden;
            border: 0px;
            background-color: rgb(217, 217, 217);
            transition: 0.1s ease-out;
        }

        button:hover{
            font-size: 18px;
            transition: 0.2s ease-in;
        }
        
    
        button span:nth-child(1){
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 2px;
            background:rgba(0, 0, 0, 0.905) ;
    
            animation: animate1 2s linear infinite;
            animation-delay: 1s;
        }
    
        @keyframes animate1{
            0%
            {
                transform: translateX(-100%);
            }
            100%
            {
                transform: translateX(100%);
            }
        }
    
        button span:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 90%;
            background:rgba(0, 0, 0, 0.889) ;
    
            animation: animate2 2s linear infinite;
        }
        @keyframes animate2{
            0%
            {
                transform: translateY(100%);
                
            }
            100%
            {
                transform: translateY(-100%);
        
            }
        }
        button span:nth-child(3){
            position: absolute;
            bottom: 0;
            right: 0;
            width: 80%;
            height: 2px;
            background:rgba(0, 0, 0, 0.905) ;
    
            animation: animate3 2s linear infinite;
            animation-delay: 1s;
        }
    
        @keyframes animate3{
            0%
            {
                transform: translateX(100%);
            }
            100%
            {
                transform: translateX(-100%);
            }
        }
        button span:nth-child(4){
            position: absolute;
            bottom: 0;
            right: 0;
            width: 2px;
            height: 80%;
            background:rgba(0, 0, 0, 0.889) ;
            animation: animate4 2s linear infinite;
    
        }
        @keyframes animate4{
            0%
            {
                transform: translateY(-100%);
                
            }
            100%
            {
                transform: translateY(100%);
        
            }
        }
    }


}

// body - button

.buttontest{
    background-color: rgb(217, 217, 217);
    

    a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: black;
        padding: 2px 20px;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-variant: small-caps;
        letter-spacing: 1px;
        overflow: hidden;
    }
    

    a span:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 2px;
        background:rgba(0, 0, 0, 0.905) ;

        animation: animate1 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes animate1{
        0%
        {
            transform: translateX(-100%);
        }
        100%
        {
            transform: translateX(100%);
        }
    }

    a span:nth-child(2){
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5px;
        height: 90%;
        background:rgba(0, 0, 0, 0.889) ;

        animation: animate2 2s linear infinite;
    }
    @keyframes animate2{
        0%
        {
            transform: translateY(100%);
            
        }
        100%
        {
            transform: translateY(-100%);
    
        }
    }
    a span:nth-child(3){
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 2px;
        background:rgba(0, 0, 0, 0.905) ;

        animation: animate3 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes animate3{
        0%
        {
            transform: translateX(100%);
        }
        100%
        {
            transform: translateX(-100%);
        }
    }
    a span:nth-child(4){
        position: absolute;
        bottom: 0;
        right: 0;
        width: 3px;
        height: 80%;
        background:rgba(0, 0, 0, 0.889) ;
        animation: animate4 2s linear infinite;

    }
    @keyframes animate4{
        0%
        {
            transform: translateY(-100%);
            
        }
        100%
        {
            transform: translateY(100%);
    
        }
    }
}

// body stylist

.stylistmain{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(217, 217, 217);

    .stylistblock1{
        display: flex;
        
        justify-content: space-evenly;

        .stylistbox1{
            .cuts{
                height:700px;         
            }
        }
        .stylistbox2{
            margin-left: -200px;
            .color{
                height:800px;
            }
        }
    }

    .stylistblock2{
        margin-top: 100px;
        text-align: center;
    }

    .stylistblock3{
        text-align: center;
        margin-top: 50px;
        p{
            font-weight: 600;
        }
        h2{
            font-weight: bold;
        }

        .animatedbutton3{
            margin-left: 130px;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }
        button{
            transform: translate(-50%,-50%);
            color: black;
            padding: 2px 16px;
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            font-variant: small-caps;
            overflow: hidden;
            border: 0px;
            background-color: rgb(217, 217, 217);
            transition: 0.1s ease-out;
            text-align: center;
            align-content: center;

            a{
                text-decoration: none;
                color: black;
            }
        }

        button:hover{
            font-size: 21px;
            transition: 0.2s ease-in;
        }
        
    
        button span:nth-child(1){
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 2px;
            background:rgba(0, 0, 0, 0.905) ;
    
            animation: animate1 2s linear infinite;
            animation-delay: 1s;
        }
    
        @keyframes animate1{
            0%
            {
                transform: translateX(-100%);
            }
            100%
            {
                transform: translateX(100%);
            }
        }
    
        button span:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 90%;
            background:rgba(0, 0, 0, 0.889) ;
    
            animation: animate2 2s linear infinite;
        }
        @keyframes animate2{
            0%
            {
                transform: translateY(100%);
                
            }
            100%
            {
                transform: translateY(-100%);
        
            }
        }
        button span:nth-child(3){
            position: absolute;
            bottom: 0;
            right: 0;
            width: 80%;
            height: 2px;
            background:rgba(0, 0, 0, 0.905) ;
    
            animation: animate3 2s linear infinite;
            animation-delay: 1s;
        }
    
        @keyframes animate3{
            0%
            {
                transform: translateX(100%);
            }
            100%
            {
                transform: translateX(-100%);
            }
        }
        button span:nth-child(4){
            position: absolute;
            bottom: 0;
            right: 0;
            width: 2px;
            height: 80%;
            background:rgba(0, 0, 0, 0.889) ;
            animation: animate4 2s linear infinite;
    
        }
        @keyframes animate4{
            0%
            {
                transform: translateY(-100%);
                
            }
            100%
            {
                transform: translateY(100%);
        
            }
        }
    }
}
